<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title> Lista | TopEducation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<header class="header">
    <div class="logo">
        <h1>TopEducation</h1>
    </div>
    <nav>
    <a class="btn btn-primary" href="/registro" role="button">Volver al menú principal</a>
    </nav>
</header>
<br>
    <div class="container">

        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Fecha Nacimiento</th>
                    <th>Tipo Colegio</th>
                    <th>Nombre Colegio</th>
                    <th>Años de egreso</th>
                    <th>Forma de pago</th>
                    <th>Cantidad Cuotas</th>
                    <th>Estado Matricula</th>
                    <th>Ver Cuotas</th>
                    <th>Accion</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="estudiante: ${estudiante}">
                    <td th:text="${estudiante.rut}">Rut</td>
                    <td th:text="${estudiante.nombre}">Nombre</td>
                    <td th:text="${estudiante.apellidos}">Apellidos</td>
                    <td th:text="${estudiante.fechaNacimiento}">Fecha Nacimiento</td>
                    <td th:text="${estudiante.tipoColegioProcedencia}">Tipo Colegio</td>
                    <td th:text="${estudiante.nombreColegio}">Nombre Colegio</td>
                    <td th:text="${estudiante.anioEgresoColegio}">Años de egreso</td>
                    <td th:text="${estudiante.formaPago}">Forma de pago</td>
                    <td th:text="${estudiante.cantidadCuotasE}">Cantidad Cuotas</td>
                    <td th:text="${estudiante.estadoMatricula}">Estado Matrícula</td>

                    <td>
                        <a th:href="@{'/registro/listar/cuotas/' + ${estudiante.rut}}" class="btn btn-primary">Ver Cuotas</a>
                    </td>
                    <td><a th:href="@{/registro/listar/editar/{id}(id = ${estudiante.id})}" class="btn btn-warning" href="" role="button">Editar</a></td>
                    <td><a th:href="@{/registro/listar/{id}(id = ${estudiante.id})}" class="btn btn-danger" href="" role="button">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>