<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de pago | TopEducation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header class="header">
    <div class="logo">
        <h1>TopEstudent</h1>
    </div>
    <nav>
    </nav>
</header>
<br>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
        <h1 class="text-center">Registro de pago de cuota</h1>
        <div class="card-body">
            <form th:action="@{'/registro/listar/cuotas/' + ${estudiante.rut} + '/' + ${cuotaNumber}}" method="post">
                <div class="container">
                    <div class="form-group">
                        <label>Fecha de pago de la cuota:</label>
                        <input type="date" name="fechaPagoCuota" required><br><br>
                        <button class="btn btn-info">Registrar pago cuota</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>
